<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105158486640-325ctd3vf8rbvcodcb6fggf99hjmt4e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105158486640-325ctd3vf8rbvcodcb6fggf99hjmt4e0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105158486640-njc1sl13t6e9m5pmm3odpiojaggpv9mb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAftswZ1efYbaFjxygT9nFbtcicoOzCJkI</string>
	<key>GCM_SENDER_ID</key>
	<string>105158486640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beingPupil</string>
	<key>PROJECT_ID</key>
	<string>being-pupil-aca7f</string>
	<key>STORAGE_BUCKET</key>
	<string>being-pupil-aca7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105158486640:ios:e7122fe1186cee514be2b5</string>
</dict>
</plist>